{% extends 'base.html' %}
{% load static %}
{% block title %}N3XT Slicer{% endblock title%}

{% block content %}

<main class="main">
    <div class="hero">
        <div class="hero__inner container">
            <div class="hero__left">
                <div class="hero__text">
                    <h1 class="hero__title">The Future of 3D&nbsp;Slicing</h1>
                    <p class="hero__description">N3XT is a free and open-source slicer that is designed to be fast and easy
                        to
                        use. It is an online tool optimized for all screen sizes, including tablets and mobile phones.</p>
                    <p><strong>Slicing has never been so easy!</strong></p>
                </div>
                <a href="#" class="thm-btn thm-btn--large">Get started
                    <i class="fa-solid fa-arrow-right thm-btn__arrow"></i>
                </a>
            </div>
           <div class="hero__right">
            <img src="{% static 'images/hero-image.svg' %}" alt="" class="hero__img">
           </div>
        </div>
    </div>
</main>


{% endblock content %}