{% extends 'base.html' %}
{% load static %}
{% block title %}N3XT Slicer{% endblock title%}

{% block content %}

<main class="main">
    <div class="hero">
        <div class="hero__inner container">
            <div class="hero__left">
                <div class="hero__text">
                    <h1 class="hero__title">The Future of 3D&nbsp;Slicing</h1>
                    <p class="hero__description">N3XT is a web-based slicer that allows you to slice your 3D models
                        right from your browser. No
                        need to download or install anything. Just upload your model and start slicing!
                    </p>
                </div>
                <div class="hero__stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p><strong>Slicing has never been so easy!</strong></p>

                <div class="hero__button-box">
                    <a href="#" class="thm-btn btn--large btn--secondary">Open Slicer
                    </a>
                    <a href="#" class="thm-btn btn--large">About us
                    </a>
                </div>

            </div>
            <div class="hero__right">
                <img src="{% static 'images/hero-image.png' %}" alt="" class="hero__img">
            </div>
        </div>
    </div>
    <section class="section features">
        <div class="features__inner container">
            <div class="section__header section__header--center">
                <span class="section__tag">Features</span>
                <h2 class="section__title">Slice directly from your browser</h2>
                <p class="section__text">
                    Our software is designed to be easy to use and accessible to everyone. You can slice your 3D models
                    from your mobile device, tablet, or computer.
                </p>
            </div>
            <div class="features__cards">
                <div class="features__single">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam similique odio fugiat a, nam
                        dolorem culpa voluptas. </p>
                </div>
                <div class="features__single">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam similique odio fugiat a, nam
                        dolorem culpa voluptas. </p>
                </div>
                <div class="features__single">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam similique odio fugiat a, nam
                        dolorem culpa voluptas. </p>
                </div>
            </div>
    </section>

</main>


{% endblock content %}